# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

Analysis
1. Most of the hotels within the ideal parameters are close to the equator.
2. There is only one hotel in the United States that met all the criteria.
3. There were no hotel matches in Europe, Australia, or China, amongst other countries, based on the selected criteria.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint


# Import API key
from api_keys import g_key
from api_keys import weather_api_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#initial dataframe setup
df = pd.read_csv(os.path.join("..", "output_data", "cities.csv"))
df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Store 'Lat' and 'Lng' into a variable called 'locations'
locations = df[["Lat", "Lng"]]

# Store humidity into a variable called 'weight'
weight = df["Humidity"].astype(float)

In [5]:
# Create the mapping figure
fig = gmaps.figure()

# Create the heatmap layer using locations and humidity
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=0.9)
# Add heatmap layer to figure
fig.add_layer(heat_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
##ideal weather conditions is 80 to 95 degrees, max wind less than 20, humidity 70-90%

# use iterrows to iterate through pandas DataFrame
for index, row in df.iterrows():
    #second URL complete
    base_url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
    
    # get city from DataFrame
    city_type = row['City']

    # add a new key to our params dictionary that will store our keyword to search for
    #params['keyword'] = city_type

    # assemble url and make API request
    print(f"Retrieving Results for : {city_type}.")
    response = requests.get(base_url + "&q="+ city_type).json()
    pprint(response)
    break
    # Use exception handling in case any of our city attributes are missing
    # NOTE: if our code hits a KeyError or IndexError on ANY of the lines of code below, it will skip any unexecuted code and move to the next iteration
    try:
    # extract results
        main= response["main"]
        wind = response["wind"]

        windspeed = wind["speed"]
        humidity = main["humidity"]
        temp_max = main["temp_max"]

        print(f"{city_type} has humidity: {humidity}, windspeed: {windspeed}, temp max: {temp_max}")
        
        #need to add conditionals based on criteria selected
        df.loc[index, 'Humidity'] = humidity
        df.loc[index, 'Max Temp'] = temp_max
        df.loc[index, 'Wind Speed'] = windspeed
        
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

new_df = df[(90>=df['Humidity']) & (df['Humidity']>=70)]
new_df = new_df[(95>=new_df['Max Temp']) & (new_df['Max Temp']>=80)]
new_df = new_df[20>=new_df['Wind Speed']]


#alternative combined conditional test    
#new_df = df[(90<=df['Humidity']>=70)&(95<=df['Max Temp']>=80)&(20<=df['Wind Speed'])]

Retrieving Results for : ostrovnoy.
{'base': 'stations',
 'clouds': {'all': 100},
 'cod': 200,
 'coord': {'lat': 68.05, 'lon': 39.51},
 'dt': 1600208385,
 'id': 556268,
 'main': {'feels_like': 35.78,
          'grnd_level': 1015,
          'humidity': 79,
          'pressure': 1017,
          'sea_level': 1017,
          'temp': 44.22,
          'temp_max': 44.22,
          'temp_min': 44.22},
 'name': 'Ostrovnoy',
 'rain': {'1h': 0.11},
 'sys': {'country': 'RU', 'sunrise': 1600224175, 'sunset': 1600271447},
 'timezone': 10800,
 'visibility': 10000,
 'weather': [{'description': 'light rain',
              'icon': '10n',
              'id': 500,
              'main': 'Rain'}],
 'wind': {'deg': 330, 'speed': 10.42}}

In [10]:
#data frame that extracts cities that meet conditionals
new_df = df[(90>=df['Humidity']) & (df['Humidity']>=70)]
new_df.sort_values('Max Temp', ascending=False).head(10)


new_df = new_df[(95>=new_df['Max Temp']) & (new_df['Max Temp']>=80)]
new_df

new_df = new_df[20>=new_df['Wind Speed']]
new_df

#drop any null values
final_df= new_df.dropna()

#final_df.shape

#display final data frame
final_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
5,5,atuona,78,PF,1558378755,76,-9.80,-139.03,81.96,16.49
20,20,teknaf,1,BD,1558378758,85,20.86,92.31,84.66,8.23
45,45,rosita,72,NI,1558378762,71,13.92,-84.40,84.12,4.41
49,49,garchitorena,59,PH,1558378763,75,13.88,123.70,84.30,6.11
54,54,tiarei,20,PF,1558378764,70,-17.53,-149.33,84.20,10.29
72,72,butaritari,55,KI,1558378767,77,3.07,172.79,83.94,9.13
74,74,hobyo,91,SO,1558378767,71,5.35,48.53,83.58,13.49
89,89,ternate,20,PH,1558378770,74,14.29,120.72,86.00,1.12
103,103,kapaa,20,US,1558378773,74,22.08,-159.32,80.60,10.29
108,108,bonthe,63,SL,1558378774,70,7.53,-12.50,85.38,9.78
111,111,port blair,99,IN,1558378774,71,11.67,92.75,85.20,7.18
113,113,thinadhoo,100,MV,1558378775,76,0.53,72.93,85.02,17.00
115,115,faanui,61,PF,1558378775,74,-16.48,-151.75,82.86,11.59
125,125,arraial do cabo,0,BR,1558378491,78,-22.97,-42.02,84.20,4.70
140,140,georgetown,75,GY,1558378612,83,6.80,-58.16,82.40,11.41
147,147,nagua,75,DO,1558378782,70,19.37,-69.85,89.60,6.93
152,152,sinnamary,100,GF,1558378783,81,5.38,-52.96,82.50,10.96
158,158,trat,93,TH,1558378784,70,12.25,102.51,91.00,1.88
172,172,antsohihy,100,MG,1558378786,74,-14.88,47.99,80.70,5.35
173,173,kavieng,100,PG,1558378787,75,-2.57,150.80,82.86,3.76
183,183,monrovia,40,LR,1558378789,79,6.33,-10.80,84.20,9.17
193,193,hithadhoo,100,MV,1558378650,75,-0.60,73.08,84.12,11.30
218,218,salalah,20,OM,1558378796,74,17.01,54.10,86.00,10.29
233,233,san juan del sur,40,NI,1558378808,74,11.25,-85.87,84.20,10.20
242,242,bandarbeyla,67,SO,1558378822,74,9.49,50.81,82.68,13.38
255,255,tagusao,92,PH,1558378828,71,9.19,117.81,84.12,2.57
257,257,port-gentil,20,GA,1558378833,88,-0.72,8.78,80.60,11.41
269,269,bodden town,75,KY,1558378836,88,19.28,-81.25,84.99,4.70
275,275,vila velha,75,BR,1558378839,83,-3.71,-38.60,80.60,9.17
277,277,soyo,20,AO,1558378792,88,-6.13,12.37,80.60,9.17
278,278,cayenne,40,GF,1558378571,70,4.94,-52.33,86.00,14.99
286,286,san andres,58,PH,1558378815,82,13.32,122.68,81.78,2.89
292,292,madikeri,75,IN,1558378843,89,12.42,75.74,84.20,2.24
305,305,salinopolis,90,BR,1558378846,82,-0.61,-47.36,82.14,12.57
318,318,buala,87,SB,1558378849,79,-8.15,159.59,81.96,10.78
326,326,cockburn town,1,TC,1558378560,79,21.46,-71.14,80.52,12.50
328,328,vung tau,77,VN,1558378714,77,10.35,107.08,85.20,10.58
337,337,acapulco,5,MX,1558378854,70,16.86,-99.88,84.20,11.41
339,339,tautira,20,PF,1558378854,70,-17.73,-149.15,84.20,10.29
357,357,banda aceh,100,ID,1558378858,76,5.56,95.32,84.12,11.95
394,394,lagos,20,NG,1558378870,83,6.46,3.39,82.40,3.36
400,400,kieta,97,PG,1558378871,72,-6.22,155.63,82.50,4.09
405,405,labuan,75,BN,1558378808,88,5.28,115.24,80.60,5.21
412,412,diu,0,IN,1558378873,75,20.71,70.98,83.04,12.82
417,417,tabou,84,CI,1558378874,82,4.42,-7.36,80.88,4.90
430,430,meulaboh,100,ID,1558378877,81,4.14,96.13,81.60,5.88
434,434,victoria,75,BN,1558378812,88,5.28,115.24,80.60,5.21
435,435,dong xoai,100,VN,1558378870,71,11.53,106.92,83.76,5.44
448,448,doha,15,QA,1558378609,78,25.29,51.53,84.20,2.24
453,453,thanatpin,75,MM,1558378882,83,17.29,96.58,82.40,4.70
463,463,tam ky,20,VN,1558378884,78,15.57,108.48,82.40,4.70
480,480,abonnema,75,NG,1558378887,83,4.71,6.79,80.60,11.41
490,490,oga,94,NG,1558378889,72,8.18,5.65,80.88,8.28
504,504,tutoia,75,BR,1558378891,79,-2.76,-42.27,86.00,6.93
505,505,touros,52,BR,1558378891,75,-5.20,-35.46,84.12,15.88
512,512,natchez,1,US,1558378892,74,31.56,-91.40,87.01,6.93
524,524,mogadishu,79,SO,1558378801,79,2.04,45.34,80.88,9.78
536,536,padang,100,ID,1558378896,82,-0.92,100.36,81.24,7.65

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
#create new variable to store hotel names and hotel count
hotel_df = final_df

hotel_df["Hotel Name"]=np.nan

#hotel_df = hotel_df["hotel Count"]

# Normalize the hotel counts from 0 to 1 and store that in a new variable
#norm_count = (hotel_count - min(hotel_count)) / (max(hotel_count) - min(hotel_count))

# view the distribution of normalized hotel counts
#norm_count.hist()

# distance, IN METERS, within which the place results must live
target_radius = 5000
# keyword term to be matched against all of Google's indexed content
target_type = "lodging"
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# type of establishment that we'd like to use to filter our place results
target_keyword = "hotel"

for index, row in hotel_df.iterrows():
# geocoordinates for the hotel based on search
    #get more specific lat and lng coordinates
    target_location = str(row["Lat"])+","+str(row["Lng"])
    city=row['City']
# set up a dictionary to store all query parameters
    params = {
        "location": target_location,
        "keyword": target_keyword,
        "radius": target_radius,
    #     "rankby": "distance",
        "type": target_type,
        "key": g_key
    }

# run a request using our params dictionary
    response = requests.get(base_url, params=params)

# print the response url, avoid doing for public github repos in order to avoid exposing key
   # print(response.url)
    print(f'Getting hotels for {city}') 
# convert the response to json
    try:
        response_json = response.json()
        results = response_json['results']
        name = results[0]['name']
        lat = results[0]['geometry']['location']['lat']
        lng = results[0]['geometry']['location']['lng']

        hotel_df.loc[index,"Hotel Name"]= name
        hotel_df.loc[index,"Lat"]= lat
        hotel_df.loc[index,"Lng"]= lng
    except (KeyError, IndexError):
        print('Failed, skipping')

Getting hotels for atuona
Getting hotels for teknaf
Getting hotels for rosita
Getting hotels for garchitorena
Failed, skipping
Getting hotels for tiarei
Getting hotels for butaritari
Failed, skipping
Getting hotels for hobyo
Getting hotels for ternate
Failed, skipping
Getting hotels for kapaa
Getting hotels for bonthe
Getting hotels for port blair
Getting hotels for thinadhoo
Failed, skipping
Getting hotels for faanui
Getting hotels for arraial do cabo
Getting hotels for georgetown
Getting hotels for nagua
Getting hotels for sinnamary
Getting hotels for trat
Getting hotels for antsohihy
Getting hotels for kavieng
Getting hotels for monrovia
Getting hotels for hithadhoo
Getting hotels for salalah
Getting hotels for san juan del sur
Getting hotels for bandarbeyla
Getting hotels for tagusao
Failed, skipping
Getting hotels for port-gentil
Getting hotels for bodden town
Getting hotels for vila velha
Getting hotels for soyo
Getting hotels for cayenne
Getting hotels for san andres
Getting hotels for madikeri
Getting hotels for salinopolis
Getting hotels for buala
Getting hotels for cockburn town
Getting hotels for vung tau
Getting hotels for acapulco
Getting hotels for tautira
Failed, skipping
Getting hotels for banda aceh
Getting hotels for lagos
Getting hotels for kieta
Failed, skipping
Getting hotels for labuan
Getting hotels for diu
Getting hotels for tabou
Getting hotels for meulaboh
Getting hotels for victoria
Getting hotels for dong xoai
Getting hotels for doha
Getting hotels for thanatpin
Failed, skipping
Getting hotels for tam ky
Getting hotels for abonnema
Failed, skipping
Getting hotels for oga
Getting hotels for tutoia
Getting hotels for touros
Getting hotels for natchez
Getting hotels for mogadishu
Getting hotels for padang

In [16]:
#display new data frame with hotel names from previous loop
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
5,5,atuona,78,PF,1558378755,76,-9.807877,-139.030335,81.96,16.49,Simplicit Marquises
20,20,teknaf,1,BD,1558378758,85,20.865881,92.298120,84.66,8.23,Milky Resort
45,45,rosita,72,NI,1558378762,71,13.924066,-84.396941,84.12,4.41,Hotel Terciopelo
49,49,garchitorena,59,PH,1558378763,75,13.880000,123.700000,84.30,6.11,NaN
54,54,tiarei,20,PF,1558378764,70,-17.539562,-149.366494,84.20,10.29,Le Rocher de Tahiti
72,72,butaritari,55,KI,1558378767,77,3.070000,172.790000,83.94,9.13,NaN
74,74,hobyo,91,SO,1558378767,71,5.356321,48.534480,83.58,13.49,Osmani Hotel
89,89,ternate,20,PH,1558378770,74,14.290000,120.720000,86.00,1.12,NaN
103,103,kapaa,20,US,1558378773,74,22.042287,-159.337013,80.60,10.29,Hilton Garden Inn Kauai Wailua Bay
108,108,bonthe,63,SL,1558378774,70,7.525635,-12.500587,85.38,9.78,Bonthe Holiday Village
111,111,port blair,99,IN,1558378774,71,11.676177,92.740200,85.20,7.18,Fortune Resort Bay Island
113,113,thinadhoo,100,MV,1558378775,76,0.530000,72.930000,85.02,17.00,NaN
115,115,faanui,61,PF,1558378775,74,-16.505202,-151.701447,82.86,11.59,InterContinental Bora Bora Resort Thalasso Spa
125,125,arraial do cabo,0,BR,1558378491,78,-22.961563,-42.021501,84.20,4.70,Orlanova Hotel
140,140,georgetown,75,GY,1558378612,83,6.825623,-58.163873,82.40,11.41,Guyana Marriott Hotel Georgetown
147,147,nagua,75,DO,1558378782,70,19.374455,-69.845293,89.60,6.93,Hotel Restaurante Sinai
152,152,sinnamary,100,GF,1558378783,81,5.362393,-52.962463,82.50,10.96,L'oiseau de Paradis
158,158,trat,93,TH,1558378784,70,12.241965,102.512848,91.00,1.88,Rimklong Boutique Hotel
172,172,antsohihy,100,MG,1558378786,74,-14.898462,47.981034,80.70,5.35,Hotel Belle Vue
173,173,kavieng,100,PG,1558378787,75,-2.582576,150.781292,82.86,3.76,Nusa Island Retreat
183,183,monrovia,40,LR,1558378789,79,6.292135,-10.779263,84.20,9.17,The Royal Grand Hotel
193,193,hithadhoo,100,MV,1558378650,75,-0.600074,73.086785,84.12,11.30,Pebbles Inn
218,218,salalah,20,OM,1558378796,74,17.008106,54.143853,86.00,10.29,Al Baleed Resort Salalah by Anantara
233,233,san juan del sur,40,NI,1558378808,74,11.295924,-85.891800,84.20,10.20,Mango Rosa Resort
242,242,bandarbeyla,67,SO,1558378822,74,9.529652,50.805527,82.68,13.38,Super secret pirate cove
255,255,tagusao,92,PH,1558378828,71,9.190000,117.810000,84.12,2.57,NaN
257,257,port-gentil,20,GA,1558378833,88,-0.694422,8.765182,80.60,11.41,Hotel du Parc
269,269,bodden town,75,KY,1558378836,88,19.276864,-81.250551,84.99,4.70,Turtle Nest Inn & Condos
275,275,vila velha,75,BR,1558378839,83,-3.691049,-38.625220,80.60,9.17,Sesc Iparana - Hotel Ecolgico
277,277,soyo,20,AO,1558378792,88,-6.163769,12.351399,80.60,9.17,Kinwica
278,278,cayenne,40,GF,1558378571,70,4.934794,-52.304628,86.00,14.99,Royal Amazonia
286,286,san andres,58,PH,1558378815,82,13.328786,122.678571,81.78,2.89,Trishcia's Guest House
292,292,madikeri,75,IN,1558378843,89,12.460242,75.696097,84.20,2.24,Heritage Resort Coorg
305,305,salinopolis,90,BR,1558378846,82,-0.594458,-47.313206,82.14,12.57,Hotel Concha do Mar
318,318,buala,87,SB,1558378849,79,-8.166389,159.619013,81.96,10.78,Ghaseali Island Resort
326,326,cockburn town,1,TC,1558378560,79,21.459538,-71.147404,80.52,12.50,Osprey Beach Hotel
328,328,vung tau,77,VN,1558378714,77,10.343964,107.094963,85.20,10.58,The IMPERIAL Hotel
337,337,acapulco,5,MX,1558378854,70,16.815049,-99.861370,84.20,11.41,Encanto Acapulco
339,339,tautira,20,PF,1558378854,70,-17.730000,-149.150000,84.20,10.29,NaN
357,357,banda aceh,100,ID,1558378858,76,5.556483,95.322324,84.12,11.95,Hotel Kyriad Muraya
394,394,lagos,20,NG,1558378870,83,6.440019,3.410097,82.40,3.36,The Seattle Residences and Spa
400,400,kieta,97,PG,1558378871,72,-6.220000,155.630000,82.50,4.09,NaN
405,405,labuan,75,BN,1558378808,88,5.275380,115.247551,80.60,5.21,Dorsett Grand Labuan
412,412,diu,0,IN,1558378873,75,20.718427,70.986901,83.04,12.82,Hotel Mozambique
417,417,tabou,84,CI,1558378874,82,4.420790,-7.355918,80.88,4.90,hotl doufoulougou
430,430,meulaboh,100,ID,1558378877,81,4.144019,96.125622,81.60,5.88,Hotel Meuligoe
434,434,victoria,75,BN,1558378812,88,5.275380,115.247551,80.60,5.21,Dorsett Grand Labuan
435,435,dong xoai,100,VN,1558378870,71,11.532342,106.888070,83.76,5.44,Morning Star Hotel
448,448,doha,15,QA,1558378609,78,25.286301,51.526031,84.20,2.24,"Mandarin Oriental, Doha"
453,453,thanatpin,75,MM,1558378882,83,17.290000,96.580000,82.40,4.70,NaN
463,463,tam ky,20,VN,1558378884,78,15.563829,108.482168,82.40,4.70,Ba C Boutique Hotel
480,480,abonnema,75,NG,1558378887,83,4.710000,6.790000,80.60,11.41,NaN
490,490,oga,94,NG,1558378889,72,8.158408,5.676036,80.88,8.28,Romka Holiday Inn
504,504,tutoia,75,BR,1558378891,79,-2.761237,-42.262631,86.00,6.93,Tutia Pousada Jagat
505,505,touros,52,BR,1558378891,75,-5.161135,-35.497085,84.12,15.88,Casa Imperial Luxo
512,512,natchez,1,US,1558378892,74,31.562471,-91.405566,87.01,6.93,Natchez Grand Hotel
524,524,mogadishu,79,SO,1558378801,79,2.038359,45.361167,80.88,9.78,Dolphin Hotel
536,536,padang,100,ID,1558378896,82,-0.935833,100.352743,81.24,7.65,Mercure Padang

In [17]:
#loop to store hotel names and locations that will grab google lat and long instead of original amounts
#from source data that was just 2 decimal points
hotel_info = []
locations = []
for index, row in hotel_df.dropna().iterrows():
    hotel_info.append(row['Hotel Name'] + ', '+row['City'] +', '+row['Country'])
    locations.append((row['Lat'], row['Lng']))


# Create the heatmap layer using locations and hotels
hotel_layer = gmaps.symbol_layer(
    locations, 
    fill_color="green",
    stroke_color='navy',
    #fill_opacity=hotel_count,
    #stroke_opacity=hotel_count,
    # the below line creates a list of strings to populate the info-box when you click on a datapoint on the map
    info_box_content=hotel_info
)

# Create the mapping figure
fig = gmaps.figure()


# Add heatmap layer to figure
fig.add_layer(hotel_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [19]:
# Add marker layer ontop of heat map
fig = gmaps.figure()

#add heat layer map and then hotel map on top
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))